:root,
:host {
  --van-blue: #037d41 !important;
  --van-gray-8: #1a1a1a !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.p-sfb {
  padding-bottom: env(safe-area-inset-bottom);
}
.p-sft {
  padding-top: env(safe-area-inset-top);
}
.p-sfl {
  padding-left: env(safe-area-inset-left);
}
.p-sfr {
  padding-right: env(safe-area-inset-right);
}
.m-sfb {
  margin-bottom: env(safe-area-inset-bottom);
}
.m-sft {
  margin-top: env(safe-area-inset-top);
}
.m-sfl {
  margin-left: env(safe-area-inset-left);
}
.m-sfr {
  margin-right: env(safe-area-inset-right);
}
